annotated-types==0.7.0
email-validator==2.3.0
fastapi==0.135.2
passlib==1.7.4
psycopg[binary]==3.2.12
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.22
SQLAlchemy==2.0.48
uvicorn==0.42.0
